<div class="container w-100">

<!-- PRIMEIRO CONJUNTO DE CARDS -->
    <section class="wrapper">
        <div class="container-fostrap">
            <div>
                <h3 class="texto">Encontre um empreendimento</h3>  
            </div>
            <hr class=" w-75 mt-5 mb-5">

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" routerLink='/rforlife'>
                                <img src="https://i.imgur.com/sUwOFHm.jpg"/>
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title textoCard text-center" routerLink='/rforlife'>ForLife</h4>
                                    <p class="textoCard">
                                        LAZER COMPLETO, CONFORTO E SEGURANÇA A ForCasa chegou em Suzano com um dos empreendimentos mais bem planejados da região. O Residencial ForLife Cidade das Flores oferece inúmeros diferenciais como: fachada moderna, acesso com reconhecimento facial, bike compartilhada, car wash e muito mais!
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a routerLink='/rforlife'  class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                        Ver mais
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="">
                                <img src="https://i.imgur.com/yiupPw0.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title textoCard text-center" routerLink='/solar'> Solar
                                    </h4>
                                    <p class="textoCard">
                                        Os apartamentos em Suzano foram projetados para oferecer tudo o que sua família merece. Apartamentos de 2 dormitórios na Região da Chácara Nova Suzano, em condomínio fechado, todos com vaga de garagem. Segurança, tranquilidade, conforto e área de lazer para os todos os seus momentos de diversão.
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a routerLink='/solar' class="btn btn-outline-dark btn-rounded mt-2 mb-2">Ver mais
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card">
                                <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                <img src="https://i.imgur.com/r6TFlYg.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title texto text-center" routerLink='/imperial'>Parque imperial</h4>
                                    <p class="textoCard">
                                        Lançamento em Ferraz de Vasconcelos c/ 2 Dorms | 40m² a 62m²| Lazer de Clube | Vaga de Garagem.
                                        Aproveite todas as facilidades da Caixa e do programa Minha Casa Minha. Condições especiais para apartamentos na planta. Confira! Um Verdadeiro Lazer de Clube (+ de 30 itens de lazer)
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a routerLink='/imperial' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                       Ver mais
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!--/PRIMEIRO CONJUNTO DE CARDS -->


<!-- SEGUNDO CONJUNTO DE CARDS -->
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/SQ7G5fG.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/belvedere'> Belvedere
                                </h4>
                                <p class="textoCard">
                                    Tudo em dobro: 2 quartos, 2 banheiros e 2 vagas.
                                    Amplo e confortável, é assim que você vai se sentir aqui dentro! Um ambiente arejado e agradável para viver momentos memoráveis. Sua casa na medida da sua felicidade e com a tranquilidade que só um condomínio fechado pode oferecer.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/belvedere' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/UHSoAo2.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/alameda'>Alameda</h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/alameda' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/zKmOmr3.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/faggion'>
                                   Faggion
                                </h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/faggion' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/SEGUNDO CONJUNTO DE CARDS -->

<!-- TERCEIRO CONJUNTO DE CARDS -->
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/Wu8I7Vj.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/phoenix'> Phoenix
                                </h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/phoenix' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/YqAw0sz.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/carmenere'>Carmenere</h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/carmenere' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div> 
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/0BUgpAG.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/vilasuzano'>Clube Vila Suzano
                                </h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/vilasuzano' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TERCEIRO CONJUNTO DE CARDS -->

<!-- QUARTO CONJUNTO DE CARDS -->
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/G6ISb4n.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/unicopoa'>Unico Poá
                                </h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/unicopoa' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="https://i.imgur.com/Uh68gL5.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title texto text-center" routerLink='/davinci'>Da Vinci</h4>
                                <p class="textoCard">
                                    Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a routerLink='/davinci' class="btn btn-outline-dark btn-rounded mt-2 mb-2">
                                    Ver mais
                                </a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
<hr class=" w-75 mt-5 mb-5">
<!-- QUARTO CONJUNTO DE CARDS -->
</div>