<div class="container w-100">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1 class="texto d-flex content justify-center">Residencial Clube Vila Suzano</h1>
        </div>
        
        <hr class="p-3 w-75  mb-5">
        <div class="col-md-12">

            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://i.imgur.com/0BUgpAG.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i.imgur.com/pJLABCR.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://i.imgur.com/QLX0ubH.jpg" alt="Third slide">
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                        <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" width="100">
                    </li>
                    <li data-target="#carousel-thumb" data-slide-to="1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg"
                            width="100">
                    </li>
                    <li data-target="#carousel-thumb" data-slide-to="2">
                        <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" width="100">
                    </li>
                </ol>
            </div>
            <!--/.Carousel Wrapper-->
            <!-- FIM SLIDES -->
            <hr class="p-0 w-75 mt-5 mb-4">
            <!-- COMEÇO DOS CARDS  -->
            <!--Carousel Wrapper-->
            <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i
                            class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i
                            class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->

                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
                    <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
                    <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
                    <li data-target="#carousel-with-lb" data-slide-to="3" class="secondary-color"></li>
                </ol>
                <!--/.Indicators-->

                <!--Slides and lightbox-->

                <div class="carousel-inner mdb-lightbox" role="listbox">
                    <div id="mdb-lightbox-ui"></div>
                    <!--First slide-->
                    <div class=" carousel-item active text-center">

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/6KpGcll.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/6KpGcll.jpg"
                                    class="img-fluid ">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/4QvLkVr.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/4QvLkVr.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/thqSrdD.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/thqSrdD.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/XwuWn3W.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/XwuWn3W.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/mzDGezH.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/mzDGezH.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/s8r3Z67.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/s8r3Z67.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item text-center">

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/vCH6oB8.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/vCH6oB8.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/Dib1DcP.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/Dib1DcP.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/MD66aRc.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/MD66aRc.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/dbnhAGG.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/dbnhAGG.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/Q3kWstq.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/Q3kWstq.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>
                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/8syq3U2.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/8syq3U2.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                    </div>
                    <!--/.Second slide-->

                    <!--Third slide-->
                    <div class="carousel-item text-center">

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/cCxI0g6.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/cCxI0g6.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/AeRUruh.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/AeRUruh.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/X2OqOvc.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/X2OqOvc.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/zkL4TOq.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/zkL4TOq.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/IJBLMGU.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/IJBLMGU.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/jUg88Za.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/jUg88Za.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                    </div>
                    <!--/.Third slide-->

                     <!--Third slide-->
                     <div class="carousel-item text-center">

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/kbqp4r9.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/kbqp4r9.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/w6ufKUl.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/w6ufKUl.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/SenLsVw.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/SenLsVw.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        <figure class="col-md-4 d-md-inline-block">
                            <a href="https://i.imgur.com/ViJsAmv.jpg"
                                data-size="1600x1067">
                                <img src="https://i.imgur.com/ViJsAmv.jpg"
                                    class="img-fluid">
                            </a>
                        </figure>

                        

                    </div>
                    <!--/.Third slide-->

                </div>
                <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->

            <!-- FIM DOS CARDS COMAMPLIAÇÃO -->
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-dark btn-rounded shadow-sm p-2 mb-3 mt-3 rounded textoCard" routerLink='/imoveis'>Voltar</button>
        </div>
        <hr class="p-0 w-75 mt-5 mb-4">
        
    </div>
</div>
