@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.textoCard{
    font-size: 14px;
    letter-spacing: 1pt;
    color: black;
    font-family: 'Playfair Display', serif;
}
button:hover{
    color: #fff;
}