<!-- Footer -->
<div class="container w-100 mb-3">
  <div class="row ">
    <div class="col-md-12 d-flex justify-content-center">


        <!-- Acesso as Redes Socias -->
        
      
            <div class="social-menu">
              <ul>
                <li><a href="#">
                    <fa-icon [icon]="faFacebook" class="fa faFacebook"></fa-icon>
                  </a></li>
                <li><a href="#">
                    <fa-icon [icon]="faInstagram" class="fa faInstagram"></fa-icon>
                  </a></li>
              </ul>
            </div>
      
      
      
          <!--/Acesso as Redes Socias -->
      
           <div class="footer-copyright text-center font-weight-bold">
              <span class="text-dark"> © 2020 Copyright: Todos os direitos reservados as desenvolvedoras</span>
             
          </div> 
      
       
      
     
      <!-- Footer -->
    </div>
  </div>
</div>
