<div class="container w-100 ">
  <div class="row ">
    <div class="col-md-12">
      <h4 class="d-flex justify-content-center texto">Acesse nossas Redes sociais</h4>

      <div class="social-menu d-flex justify-content-center">
        <ul>
          <li><a href="#">
              <fa-icon [icon]="faFacebook" class="fa faFacebook"></fa-icon>
            </a></li>
          <li><a href="#">
              <fa-icon [icon]="faInstagram" class="fa faInstagram"></fa-icon>
            </a></li>
        </ul>
      </div>
      <span class="text-dark d-flex justify-content-center texto"> © 2020 Copyright:Todos os direitos reservados.</span>
    </div>
  </div>
</div>